body, ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Roboto;
}

body{
    background: black;
}
#logo a{
    font-family: Ubuntu;
    font-size: 1.5rem;
    margin-left: 5px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    background: rgba(179, 179, 179, 0.356);
}
.header{
    /*background: #A9A3A3;*/
    background:rgba(45, 45, 48, 0.9);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.header div{
    display: flex;
    align-items: center;
}
#menu{
    display: flex;
}
#menu li{
    margin-left: 10px;
}
#menu li a{
    display: block;
    padding: 10px;
}
img{
    width: 50px;
    height: auto;
}

#botaomobile{
    display: none;
}
.iconessociais{
    display: none;
}
@media (max-width: 830px) {
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 90px;
        right: 0px;
        /*background:#A9A3A3;*/
        background:rgba(45, 45, 48, 0.9);
        height: 0vh;
        transition: .7s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #logo a{
        visibility: hidden;
    }
    #nav.active #menu{
        height: 70vh;
        visibility: visible;
        overflow-y: auto;
    }
    #menu li a{
        padding: 1rem 30%;
        text-align: center;
    }
    #botaomobile{
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
    }
    #iconemenu{
        width: 20px;
        border-top: 2px solid;
        display: block;
    }
    #iconemenu::after, #iconemenu::before {
        content: '';
        margin-top: 5px;
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }
    #nav.active #iconemenu{
        border-top-color: transparent;
    }
    #nav.active #iconemenu::before{
        transform: rotate(135deg);
    }
    #nav.active #iconemenu::after{
        transform: rotate(-135deg);
        top: -7px
    }
    .iconessociais{
        display: flex;
        visibility: visible;
        display: flex;
        padding: 0px;
    }
    #menu .iconessociais{
        justify-content: space-between;
    }
    #menu .iconessociais a{
        padding: 20px;
    }
    #menu .iconessociais a img{
        width: 30px;
        height: auto;
    }
    #divicones{
        display: flex;
        justify-content: center;
    }
    
}
#section-quemsomos{
    text-align: center;
    font: size 14px;
    font-family:Ubuntu;
}
#PredioEtexto > div{
    display: flex;
}
#astro{
    height: 150px;
    border-radius: 50% ;   
    margin-left: auto;
    margin-right: auto;
    width:auto;
    
}
#fotopredio{
    width: 100%;
    min-height: 480px;
}
p{
    height: auto;
    border-radius: 1%;
    color: white;
    text-align: justify;
     font-size: 24px;   
     font-family:  Ubuntu;
     padding: 3rem;
}
#div-predioEtexto-text{
    width: 50%;
}
#div-predioEtexto-img{
    width: 50%;
}
#div-predioEtexto-contenner{
    margin: 7rem;
    max-height: 20%;
}
#div-predioEtexto-text{
    background: #2D2D30;;
}
#div-predioEtexto-text{
    margin-right: 5%;
}
#div-predioEtexto-img{
    margin-left: 5%;
}
#h-quemsomos{
    color: white;
    font-size: 36px;
}
/*Responsividade Quem somos*/
@media(max-width: 830px){
    p{
        justify-content: center;
        height: auto;
        border-radius: 1%;
        color: white;
        text-align: justify;
         font-size: 24px;   
         font-family:  Ubuntu;
         padding: 2%;
         width: auto;
    }
    #div-predioEtexto-text{
        width: auto;
    }
    #div-predioEtexto-contenner{
        margin: 5%;
        max-height: 20%;
    }
    #div-predioEtexto-img{
        width: 0%;
        height: 0%;
    }
    #div-predioEtexto-text{
        margin-right: 2%;
    }

}
/*Fim Responsividade Quem somos*/

#Serviços1>div{
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    display: flex;
    font-size: 1.6rem;
    font-family: Ubuntu;
}
.ListaS{
   color: white;
   padding-left: 40px;
   text-align: left;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    background-color: #2D2D30;
    border-radius: 10px;
    height: 380px;
    width: auto;
}
.ListaS1{
    margin-top: 10px;
    list-style-type: circle;
    font-size: 36px;
    padding-top: 25px;
}
/*Responsividade Serviços*/
@media(max-width: 830px){
    #Serviços1>div{
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        display: block;
        font-size: 1.6rem;
        font-family: Ubuntu;
        
    }
    .ListaS{
        color: white;
        padding-left: 40px;
        text-align: left;
         margin-top: 20px;
         margin-left: 10%;
         background-color: #2D2D30;
         border-radius: 5%;
         width: auto;
         justify-content: center;
         
     }
}
/*Fim Teste*/