@media(max-width: 830px){
    #Serviços1>div{
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        display: flex;
        font-size: 1.6rem;
        font-family: Ubuntu;
        
    }
    .ListaS{
        color: white;
        padding-left: 40px;
        text-align: left;
         margin-top: 20px;
         margin-left: 10%;
         background-color: #2D2D30;
         border-radius: 5%;
         height: auto;
         width: auto;
         justify-content: center;
         
     }
}