{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NaveSpace</title>
        <link rel="stylesheet" href="{% static '/css/styledepoimentos.css' %}">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <link rel="stylesheet" href="{% static '/css/stylehome.css' %}">
        <link rel="stylesheet" href="{% static '/css/styleportfolio.css' %}">
        <link rel="stylesheet" href="{% static '/css/stylecontatos.css' %}">
        <link rel="stylesheet" href="{% static '/css/styleform.css' %}">
        <link rel="stylesheet" href="{% static '/css/stylequemsomos.css' %}">
        <link rel="icon" href="{% static '/Imagens/LOGO.png' %}">
    </head>
    <body>

        {% block content %}
        {% endblock %}


    <script src="{% static './Js/menuresp.js' %}"></script>
    <script src="{% static './Js/carousel.js' %}"></script>

    </body>
</html>