{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaveSpace</title>
    <link rel="stylesheet" href="{% static 'css/styledepoimentos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylehome.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleportfolio.css' %}"}>
    <link rel="stylesheet" href="{% static 'css/styleContato.css'  %}">
    <link rel="stylesheet" href="{% static 'css/styleform.css'  %}">
    <link rel="stylesheet" href="{% static 'css/stylequemsomos.css'  %}">
    <link rel="icon" href="{% static 'Imagens/LOGO.png' %}">
</head>
<body>
    <header class="header">
        <div id="logo">
        <img src="{% static './Imagens/LOGO.png' %}">
            <a href="./index.html">NaveSpace</a>
        </div>
        <nav id="nav">
            <button id="botaomobile"><span id="iconemenu"></span></button>
            
            <ul id="menu">
                <li><a href="#section-home">Início</a></li>
                <li><a href="#section-quemsomos">Quem somos</a></li>
                <li><a href="#Serviços1">Serviços</a></li>
                <li><a href="#port">Portfólio</a></li>
                <li><a href="#section-depoimentos">Depoimentos</a></li>
                <li><a href="#conta">Contato</a></li>
                <div id="divicones">
                <li class="iconessociais"><a><img src="{% static './Imagens/insta.png' %}"></a></li>
                <li class="iconessociais"><a><img src="{% static './Imagens/facebook.png' %}"></a></li>
                <li class="iconessociais"><a><img src="{% static './Imagens/twitter.png' %}"></a></li>
                </div>
            </ul>
        </nav>
    </header>

    
<!--Começo da seção home-->

    <section id="section-home">
        <div id="div-section-home">
            <div class="espaco"></div>
            <div id="div-conteudo">
              <div id="flex">
                <h1>Que tal conhecer um pouco da NaveSpace?</h1>
                    <p>A NaveSpace é  uma loja de
                    artigos temáticos sobre o espaço, 
                    nosso objetivo é tematizar seu ambiente 
                    e te deixar o mais perto da lua possível!<br>
                    Para conferir os produtos que temos disponível
                    em estoque, basta clicar no botão abaixo, ou se
                    quiser pode continuar navegando e conhecendo 
                    um pouco mais sobre a empresa.</p>
                    <div id="div-button">
                    <a><button class="botao"  onclick="togglePopup()" id="construcao">Loja NaveSpace</button></a>
                    </div>  
                </div>
                <div id="flex2"></div> 
            </div>
            <div id="redessociais">
                <a><img  src="{% static './Imagens/insta.png' %}"></a>
                <a><img  src="{% static './Imagens/facebook.png' %}"></a>
                <a><img  src="{% static './Imagens/twitter.png' %}"></a>
            </div>
            <div class="espaco"></div>
        </div>
    </section>
    <!--Fim da seção home-->



    <section id="section-quemsomos"> <!-- Início Seção Quem Somos -->
     <div>
      
        <img  id ="astro" src="{% static './Imagens/astronautaoficial.png' %}"/>
        <h1 id="h-quemsomos" class="h1">Quem somos?</h1> 
    
    </div> 
    </section>
    
    <section id="PredioEtexto">  
<!-- Criei essa div para habilitar o display flex
A div envolve o texto e a foto -->
    
       <div id="div-predioEtexto-contenner">
            
            <div id="div-predioEtexto-text">
            <p>
               <b> Fundada em setembro de 2021 por Apollo Júnior </b>
            <br>
            <br>
                A NaveSpace é uma empresa que vai te levar a perceber a infinidade do espaço e a possibilidade de conhecer um pouco mais dele através de nossos produtos.
            <br>
            <br>
                A ideia da empresa nasceu do jovem empreendedor Apollo Júnior, que aos seus 19 anos teve a ideia de criar uma empresa focada em artigos de temática espacial. 
                
            </p>
            </div>

            <div id="div-predioEtexto-img">
        
            <img id="fotopredio" src="{% static 'Imagens/a-tall-building-reflects-the-sunlight.jpg' %}"/> 
            </div>
        </div>
    
    </section> <!-- Fim Seção Quem Somos-->
    
    <section id="Serviços1"> <!--Seção Serviços-->
        <div class="titulos">
            <img id ="imagemastro" src="{% static 'Imagens/AstronautaServiço.svg' %}" alt="Icone astronauta"/>
            <h1 class="h1">Serviços prestados pela NaveSpace: </h1>
        </div>
    </section>
    
    <section ><!--id="Serviços2"*/-->
        <div>
            <ul class="ListaS">
                <li class="ListaS1"> Tematização de festas </li>
                <li class="ListaS1"> Artigos gerais </li>
                <li class="ListaS1"> Personalização de artigo </li>
           </ul>
        </div>
    </section> <!--Fim Seção Serviços-->

    <!--Começo da seção portfólio-->
    <div class="titulos">
    <img src="{% static 'Imagens/icone_maleta.png' %}"/>  
    <h1 id="port" class="h1">A seguir um pouco do nosso trabalho</h1>
    </div>
    <section id="section-portfolio">
    

    <div id="div-items">
    <div class="items">
		<div class="item active">
			<img src="{% static 'Imagens/quarto.jpg' %}">
		</div>
		<div class="item next">
			<img src="{% static 'Imagens/sala.jpg' %}">
		</div>
		<div class="item">
			<img src="{% static 'Imagens/astronautas_foto.png' %}">
		</div>
		<div class="item">
			<img src="{% static 'Imagens/quarto.jpg' %}">
		</div>
		<div class="item prev">
			<img src="{% static 'Imagens/sala.jpg' %}">
		</div>
		<div class="button-container">
			<div class="button"><i class="fas fa-angle-left"><img src="{% static 'Imagens/esquerda.png' %}"> </i></div>
			<div class="button"><i class="fas fa-angle-right"><img src="{% static '/Imagens/direita.png' %}"> </i></div>
		</div>
	</div>
    </div>

</section>
    <!--Fim da seção portfólio-->
    
    <!--Começo da seção depoimentos-->
    <section id="section-depoimentos">
        <div id="div-section-depoimentos">
            <img src="{% static 'Imagens/message.png' %}"/>
            <h1 class="h1">Depoimentos de clientes: </h1>
        </div>

        <div id="div-geral">
            <div class="div-modulo">
                <div class="div-fotonome"> 
                    <img src="{% static '/Imagens/usuario.png' %}"/>
                    <p>Candido Portinari</p>
                </div>
                <div class="div-texto">
                    <p> 
                        Em geral os produtos são de qualidade, super detalhados e com uma durabilidade extraordinária.
                    </p>
                </div>
            </div>

            <div class="div-modulo">
                <div class="div-fotonome">
                    <img src="{% static '/Imagens/usuario.png' %}"/> 
                    <p>Tarsila do Amaral</p>
                </div>
                <div class="div-texto">
                    <p>
                        Abaporu chorou com tamanha perfeição
                    </p>
                </div>
            </div>


            <div class="div-modulo">
                <div class="div-fotonome">
                    <img src="{% static '/Imagens/usuario.png' %}"/>
                    <p>Anita Malfatti</p>
                </div>
                <div class="div-texto">
                    <p>
                        Produtos de muita qualidade.
                    </p>
                </div>
            </div>


        </div>

    </section>
    <!--Fim da seção depoimentos-->

    <!--Começo seção contatos-->
    <section id ="conta" class="Sec1">
        <div class="Caixa1">
            <div class="texto1">   
            <div class="imagemenome">
                <img src="{% static '/Imagens/message.png' %}" />
                <h1 >Contato</h1>
            </div>
                <h4>Email:</h4>
                <p>loreispum@loreispum.com.br</p>
                
                <h4>Telefone:</h4>
                <p >+55 (84) XXXXX-XXXX </p>
                
                <h4>Localização:</h4>
                <p>
                    Rua: lore ispum, 600  <br/>
                    Lore ispum, Natal-RN <br/>
                    CEP: xxxxx-xxx, Brasil <br/>
                </p>
            </div>

            <div id="mapa">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.1646511087447!2d-35.20763318523281!3d-5.832398695773951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2ff8566fe1f6f%3A0xd35194a8cdd83856!2sIMD%20-%20Instituto%20Metrop%C3%B3le%20Digital%20-%20Lagoa%20Nova%2C%20Natal%20-%20RN%2C%2059076-560!5e0!3m2!1spt-BR!2sbr!4v1630682018284!5m2!1spt-BR!2sbr" 
                width="100%" height="45%" style="border:0; border-radius: 2%;" allowfullscreen="" loading="lazy"></iframe>
            </div>
               
    </div>
    </section>
    
    <section class="sec2">
        <div id="h1form">
            <h1> Formulário para contato </h1>
        </div>
        <p class="textoForm"> {% csrf_token %}
            Aqui nos disponibilizamos para tirar qualquer dúvida que você tenha. <br/>
            Caso tenha alguma sugestão, sinta-se também à vontade para falar conosco.<br/>
        </p>
        <form method="post">{% csrf_token %}
            <div  class="fonte">
                <label for="nombre">Nome: </label>
                <div class="form-nome">
                    <input placeholder="joão da silva" class="form-control" class="nombre" type="text" name="nome"/>
                </div>
            </div>
            <br/>
            <div  class="fonte">
                <label for="telefone">Telefone: </label>
                    <div class="form-tele">
                        <input  placeholder="40028922" class="form-control" class="nombre" type="tel" name="telefone"/>
                    </div>
            </div>
            <br/>
            <div class="fonte">
                <label for="email">Email:</label>
                <div class="form-email">
                    <input  placeholder="joão@gmail.com" class="form-control"  id="email" type="email" name="email" />
                </div>
                {% if form.email.errors %}
                    <ol style="font-size: 8px;">
                    {% for error in form.email.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>
            <br/>
            <div  class="fonte">
                <label for="message">Mensagem:</label>
                <div class="form-mensagem">
                    <textarea placeholder="Todos foram efetivados" class="form-control" id="inputmensagem" name="mensagem"></textarea>
                </div>
                
            </div>
            
          </div>
            <div class="direita">
                <button type="submit"   class="btn btn-light">Enviar</button>
            </div>
           
        </form>
    </section>


    <!-- Fim seção contatos-->
    <footer>
        <p>NaveSpace | Desenvolvido pela EJECT</p>
            
    </footer>

<script src="{% static './Js/menuresp.js' %}"></script>
<script src="{% static './Js/carousel.js' %}"></script>

</body>
</html>